# .gitignore

venv/
logs/**
__pycache__/
temp/**
dataset/**
tmp.py
youtube_links.txt
models/**
.vscode/
config.py
.cache/
scp_command.txt
deploy_kegs/models/**
deploy_kegs/dataset/**
deploy_kegs/logs/**
deploy_kegs/inputs/**
deploy_kegs/outputs/**
deploy_kegs/temp/**