venv/
logs/*
backend/__pycache__/
temp/*
dataset/*
tmp.py
*.txt
models/*
.vscode/
deploy_kegs/outputs/*
deploy_kegs/inputs/*
deploy_kegs/.cache/
deploy_kegs/.vscode/
deploy_kegs/backend/__pycache__/
deploy_kegs/dataset/*
deploy_kegs/temp/*
deploy_kegs/tmp.py
deploy_kegs/models/*
deploy_kegs/*.txt