# FastAPI 서버
fastapi==0.115.12
uvicorn==0.34.2
pydantic==2.11.5

# SSH/파일 전송
paramiko==3.5.1

# 비디오 처리
moviepy==2.2.1
yt-dlp==2025.6.9

# 오디오 처리 & 자막 생성
torch==2.7.0
torchaudio==2.7.0
transformers==4.52.2
datasets==3.6.0
peft==                              # Hugging Face PEFT (LoRA)
bitsandbytes==                      # 4bit 양자화 지원
openai-whisper @ git+https://github.com/openai/whisper.git@dd985ac4b90cafeef8712f2998d62c59c3e62d22
pydub==0.25.1

# 한국어 형태소 분석
konlpy==0.6.0
jpype1==1.5.2
